
page-login {
    .font-l{
        font: .8em sans-serif;
    
    }
    
    .login-pwd{
        margin-left: 70%;
        margin-top: 5em;
    }
    .badge{
        margin-left: 73%;
        margin-top: 1em;
    }

    .top{
        margin-top: 10em
    }

    .opacity{
        opacity:0.8;
    
    }

    .opacity-a{
        opacity:0.1;
    
    }
   .border{
    border-radius: 5px
}
}