page-yplist {
    .grid {
        padding: 0;
    }
    .list-md {
        margin: -1px 0 0px;
    }
    .col-border {
        border-bottom: 1px solid #b1afaf;
        border-right: 1px solid #b1afaf;
        padding: 9px 0px;
        text-align: center;
    }

    .item-md {
        padding-left: 18px;
        padding-right: 0;
        position: relative;
         font-size: 1em; 
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    page-yplist .item-md {
        
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}



